target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# vi
*.swp

# macOS
.DS_Store

# PadoGrid workspace
/.addonenv.sh
/initenv.sh
/setenv.sh
/vmenv.sh
bundles
lib
plugins
.workspace
.cluster

# PadoGrid workspace directories
#apps
#clusters
docker
k8s
pods

# Cluster
run

# App
results

# Bundle specifics
archive
log
lib
desktop
setenv.sh0
build
clusters/openssl/etc/hazelcast.xml
apps/perf_test_openssl/etc/hazelcast-client-blue-mc.xml
apps/perf_test_openssl/etc/hazelcast-client-green-mc.xml
apps/perf_test_openssl/etc/hazelcast-client-mc.xml
apps/perf_test_openssl/etc/v4/hazelcast-client-mc.xml
apps/perf_test_openssl/etc/hazelcast-client-blue.xml
apps/perf_test_openssl/etc/hazelcast-client-failover.xml
apps/perf_test_openssl/etc/hazelcast-client-green.xml
apps/perf_test_openssl/etc/hazelcast-client.xml
